// animation: [name] [duration] [timing-function] [delay] [iteration-count] [direction] [fill-mode] [play-state]

.mobile-bg {
  position: absolute;
  left: 0%;
  top: 0%;

  padding: 0 20px;

  width: inherit;
  height: inherit;

  animation: primary 5s linear infinite;
}

.primary {
  animation: primary 5s linear infinite;
}

.secondary {
  animation: secondary 5s linear infinite;
}


@keyframes primary {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}

@keyframes secondary {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}


.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;

  background: radial-gradient(
    183.6% 183.01% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #ffffff 100%
  );
}

.mobile-bg-wrapper {
  position: relative;
  width: 450px;
  height: auto;
  transform: translateY(253px) translateX(-249px) rotate(-15deg);

  @media screen and(min-width: $tablet) {
    display: none;
    opacity: 0;
  }
}
