.mobile-bg {
  position: absolute;
  left: 0%;
  top: 0%;

  padding: 0 13px;

  width: inherit;
  height: inherit;
}

.primary {
  animation: primary 5s linear infinite;
}

.secondary {
  animation: secondary 5s linear infinite;
}

@keyframes primary {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}

@keyframes secondary {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}

.wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  background: radial-gradient(
    183.6% 183.01% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #ffffff 100%
  );

  @media screen and(min-width: $tablet) {
    display: none;
    opacity: 0;
  }
}

.mobile-bg-wrapper {
  position: relative;
  width: 450px;
  height: auto;
  transform: translateY(350px) translateX(-100px) rotate(-15deg);
}

.support-companies {
  width: 335px;
  height: 352px;

  // overflow: hidden;
  overflow-y: scroll;

  // &::-webkit-scrollbar {
  //   width: 0;
  // }

  // display: none;
}

.itc-slider__item {
  flex: 0 0 50%;
}
