@import 'visually-hidden';
header {
  height: 72px;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: 0 32px;
  background: #ffffff;
  border: 1.5px solid #111111;
  border-radius: 0px 0px 8px 8px;
}
.logo {
  height: 24px;
  transition: all $animation-flow;
}
.logo:hover {
  transform: scale(1.2);
}

nav {
  display: flex;
  gap: 16px;
  align-items: center;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  font-style: normal;
  margin-left: 99px;
  text-transform: uppercase;
}
.nav-shopping-list {
  display: flex;
  align-items: center;
  gap: 8px;
  transition: all $animation-flow;
  padding: 8px 16px;
  border-radius: 36px;
}
.nav-shopping-list:hover {
  color: $blue-accent-color;
}
.sholing_list-icon {
  fill: tomato;
}

.btn-yellow {
  background-color: $yellow-accent-color;
  padding: 8px 16px;
  border-radius: 36px;
  transition: all $animation-flow;
}
.btn-yellow:hover,
.nav-shopping-list:hover {
  transform: translateY(-3px);
  /* box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2); */
}
.btn-yellow:active,
.nav-shopping-list:active {
  transform: translateY(0px);
  /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); */
}
main{
  display: flex;
}
.side-blocks{
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 86px;
}

.book-cards{
  display: flex;
  justify-content: center;
  gap: 40px;
}