@import 'visually-hidden';
header {
  z-index: 10;
  height: 72px;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: 0 32px;
  background: $white-text-color;
  border: $header-border;
  border-radius: 0px 0px 8px 8px;
}
.logo {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  height: 24px;
  transition: all $animation-flow;
}
.logo-text {
  fill: $main-text-color;
  transition: all $animation-flow;
}
.logo:hover {
  transform: scale(1.2);
  // & .logo-text{
  //   fill: $grey-text-color
  // }
}

// nav {
//   display: flex;
//   gap: 16px;
//   align-items: center;
//   font-size: 14px;
//   line-height: 18px;
//   font-weight: 500;
//   font-style: normal;
//   margin-left: 99px;
//   text-transform: uppercase;
// }

main {
  display: flex;
}
.side-blocks {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 86px;
}

.book-cards {
  display: flex;
  justify-content: center;
  gap: 40px;
}
