html {
	scroll-behavior: smooth;
	-webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
	width: 0px;
	height: 0px;

}

body {
	font-family: "DMSans", sans-serif;
	// transition: all $animation-flow;

	padding: 0 20px;

	@media screen and (min-width: $tablet) {
		padding: 0 32px;
	}

	@media screen and (min-width: $desktop) {
		padding: 0 24px;
	}

	background-color: $body-bg-color-light;
	color: $main-text-color;

    // transition: all $animation-flow;

}
body.modal-open {
  overflow: hidden;
}
