@import '~node_modules/modern-normalize/modern-normalize.css';

a {
  text-decoration: none;
  // color: currentColor;
}
h1,
h2,
h3,
h4,
ul,
li,
p {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
img {
  display: block;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
  color: currentColor;
}
