.mobile-bg {
  position: absolute;
  left: 0%;
  top: 0%;

  padding: 0 22px;

  width: inherit;
  height: inherit;
}

.primary {
  animation: primary 8s linear infinite;
}

.secondary {

  animation: secondary 8s linear infinite;
}


@keyframes primary {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}

@keyframes secondary {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}



.mobile-bg-wrapper {
    width: 118vw;
    height: auto;
    z-index: -1;
    pointer-events: none;
    position: relative;
    bottom: 21vh;
    transform: translateY(525px)translateX(-79px)rotate(-15deg);
}

