.nav {
  display: none;

  @media screen and (min-width: $tablet) {
    display: flex;

    align-items: center;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    font-style: normal;
    margin-right: auto;
    margin-left: 32px;
    text-transform: uppercase;
    @media screen and (min-width: $desktop) {
      margin-left: 99px;
    }
  }

  .nav-item {
    position: relative;
    padding: 8px 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;

    background-color: transparent;
    transition: all $animation-flow;
    z-index: 10;
    &::before {
      content: '';
      position: absolute;
      inset: 0;
      transform: scaleX(0);
      border-radius: 36px;
      background-color: $yellow-accent-color;
      transition: all $animation-flow;
      opacity: 0;
      z-index: -10;
    }
    &:hover {
      transform: translateY(-2px);

      &::before {
        transform: scaleX(1);
        opacity: 1;
      }
      &:active {
        transform: translateY(0px);
        &::before {
          transform: scaleX(1);
          opacity: 1;
        }
      }
    }
    @media screen and (min-width: $tablet) {
      // padding: 8px 16px;
    }
  }

  .nav-active {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    background-color: $yellow-accent-color;
    padding: 8px 16px;
    border-radius: 36px;
    transition: all $animation-flow;
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
}

.nav__link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.nav__mob-menu {
  display: flex;

  margin: 0 auto;
}
.nav__list-mob-menu {
  flex-direction: column;
  align-items: start;
  margin-top: 15.5vh;
}
.nav-item.nav-active {
  @media screen and (min-width: $desktop) {
    margin-left: 0;
  }
}
