@import './vars.scss';
@import './breakpoints.scss';

.support-ukraine {
  padding: 24 58 68 40;

  max-height: 352px;

  background: radial-gradient(
    183.6% 183.01% at 59.76% -23.42%,
    $blue-accent-color 18.03%,
    $white-text-color 100%
  );

  box-shadow: 0px 10px 10px rgba(245, 245, 247, 0.1);
  border-radius: 16px;

  @media screen and (min-width: $tablet) {
    padding-bottom: 84px;

    max-height: 472px;
  }

  @media screen and (min-width: $desktop) {
    padding: 24 79 102 40;

    max-height: 490px;
  }
}

.support-ukraine__title {
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.04em;
  color: $white-text-color;

  &:hover,
  &:focus {
    text-shadow: 1px 0 0 $main-text-color, 0 -1px 0 $main-text-color, 0 1px 4px $main-text-color, -1px 0 0 $main-text-color;
     }
}

.logo-ukr {
  fill: currentColor;
}

.support-title-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.support-companies {
  color: $white-text-color;
}

.support__load-more {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto;

  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;

  cursor: pointer;
  @media screen and (min-width: $tablet) {
    width: 38px;
    height: 38px;
  }
}

.button__icon {
  fill: $blue-accent-color;
}
