.scroll-down-btn {
  border-radius: 50%;

  margin-top: 20px;
}

.support-companies {
  width: 159px;
  height: 188px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  overflow-y: scroll;
  outline: 1px solid black;
}

// .support-companies > li {
//   height: 32px;
// }