.dark-theme {
  background-color: $body-bg-color-dark;
  color: $gray-text-dark-theme;
}

.dark-theme header {
  border: $header-border-dark;
  background-color: $body-bg-color-dark;
}

.dark-theme .logo-text {
  fill: #f3f3f3;
}

.dark-theme .btn-default {
  color: $gray-text-dark-theme;
}

.dark-theme .filter__item {
  color: $gray-text-dark-theme;
}

.dark-theme .filter__item--active {
  color: $yellow-accent-color;
}

.dark-theme .book-card__title {
  color: $white-text-color;
}

.dark-theme .filter__list::-webkit-scrollbar-thumb {
  border: 12px solid $scrollbar-color-dark;
}

// .dark-theme .(class-current-category) {
//   color: $yellow-accent-color;
//}
.dark-theme {
  & .book__description {
    color: #ffffff;
  }

  & .modal__pop-up {
    background: $body-bg-color-dark;
  }

  & .book__title,
  .pop-up__btn-add {
    color: #fff;
  }

  & .modal__pop-up {
    border-color: white;
  }

  & .buy-links__icon.amazon {
    filter: grayscale(100%) invert(1);
  }

  & .btn-close-icon {
    stroke: white;
  }
}

.dark-theme {
  & .nav__link {
    color: white;
  }
  & .header__link-icon {
    fill: white;
  }
  & .header__singup-btn {
    color: white;
    &:hover {
      color: black;
    }
  }
  & .mob-menu__Log-out-btn {
    color: black;
    &:hover {
      color: white;
    }
  }
  & .header__mobile-menu {
    stroke: white;
    &:hover {
      stroke: $blue-accent-color;
    }

  }
}
