// typography
$main-text-color: #111111;
$grey-text-color: #11111199;
$white-text-color: #ffffff;
$captions-text-color:#B4AFAF;
$header-border: 1.5px solid #111111;
$scrollbar-color : #E0E0E0;


// colorset
$body-bg-color-light: #F6F6F6;
$blue-accent-color: #4f2ee8;
$yellow-accent-color: #eac645;


// dark theme

$body-bg-color-dark: #202024;
$gray-text-dark-theme:#FFFFFF99;
$header-border-dark: 1.5px solid white;
$scrollbar-color : #111111;

// transition

$animation-flow: 300ms ease 0ms;