:root{
    --main-text-color: #111111;
    --secondary-text-color: #11111199;
    --white-text-color: #FFFFFF;
    --blue-accent-color: #4F2EE8;
    --yellow-accent-color:#EAC645;

    --animation-flow: 300ms ease 0ms
}