.swiper {
  height: 296px;

  // outline: 1px dashed red;
}

// .swiper-wrapper {
//   outline: 1px solid blue;
// }

.swiper .swiper-slide {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;

  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
}

// .swiper-slide a {
//   min-height: 32px;
// }
