@import '../base/breakpoints';
.swiper {
  height: 188px;

  margin: 20 0 16 0;

  // outline: 1px dashed red;

  @media screen and(min-width: $tablet) {
    height: 292px;
    margin: 40 0 32 0;
  }

  @media screen and(min-width: $desktop) {
    margin: 40 0;
  }
}

// .swiper-wrapper {
//   outline: 1px solid blue;
// }

.swiper .swiper-slide {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;

  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
}

// .swiper-slide a {
//   min-height: 32px;
// }
