.support-ukraine {
  background: radial-gradient(
    183.6% 183.01% at 59.76% -23.42%,
    $blue-accent-color 18.03%,
    $white-text-color 100%
  );
  box-shadow: 0px 10px 10px rgba(245, 245, 247, 0.1);
  border-radius: 16px;
  max-width: 335px;
  max-height: 352px;
}

.support__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  color: $white-text-color;
  padding-top: 24px;
  margin-bottom: 40px;
}

.support__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.04em;
  color: $white-text-color;

  &hover,
  &focus {
    -webkit-text-stroke: 1px solid #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.logo-ukr {
  fill: currentColor;
}

.support-companies {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-left: 40px;
  margin-bottom: 16px;
  height: 188px;
  overflow: scroll;
  color: $white-text-color;
}

.company__item {
  display: flex;
  align-items: center;
  height: 32px;
  gap: 16px;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
}

// .company__number{

// }

// .company__link {

// }


.company__img {
  width: 100%;
  filter: brightness(0) invert(1);
}

.support__load-more {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 20px;
  cursor: pointer;
}

.button__icon {
  fill: currentColor;
}
