.book-card {
  width: 335px;
  height: 535px;

  list-style: none;

  @media screen and (min-width: $tablet) {
    width: 218px;
    height: 366px;
  }
  @media screen and (min-width: $desktop) {
    width: 180px;
    height: 306px;
  }
  &__link {
    color: inherit;
    border-radius: 8px;
  }
  &__link:hover .book-card__notification,
  &__link:focus .book-card__notification {
    transform: translateY(0);
  }
  &__thumb {
    position: relative;
    margin-bottom: 14px;
    border-radius: 8px;

    overflow: hidden;
  }
  &__image {
    width: 100%;
    height: 485px;

    @media screen and (min-width: $tablet) {
      height: 316px;
    }
    @media screen and (min-width: $desktop) {
      height: 256px;
    }
  }
  &__notification {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    padding-top: 26px;
    padding-bottom: 26px;

    background-color: $yellow-accent-color;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;

    transform: translateY(100%);
    transition: transform $animation-flow;
  }
}
.info-item__title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(18 / 16);
  letter-spacing: -0.04em;
  text-transform: uppercase;

  // Додаємо скорочення назви та ... в кінці
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.info-item__author {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: -0.04em;

  color: $captions-text-color;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
