.btn-default {
  font-family: 'DMSans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.01em;

  color: $main-text-color;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 28px;
  gap: 10px;
  cursor: pointer;
  text-transform: uppercase;

  border-radius: 40px;
  border: 2px solid #4f2ee8;

  transition: all $animation-flow;
  &:hover,
  &:focus {
    background: #4f2ee8;
    color: $white-text-color;
  }
}

.theme-switch {
  appearance: none;
  position: relative;

  margin-left: auto;

  &::before {
    content: '';
    display: block;
    cursor: pointer;

    width: 40px;
    height: 20px;
    padding: 1px;
    border-radius: 20px;
    transition: all $animation-flow;
    background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
  }
  &::after {
    content: '';
    cursor: pointer;
    background-image: url(/src/images/switch-texture.svg),
      linear-gradient(180deg, #ffffff 0%, #f7f7f7 100%);
    width: 18px;
    height: 18px;
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    border-radius: 50%;
    transition: all $animation-flow;

    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1),
      1px 2px 4px rgba(0, 0, 0, 0.1);
  }
  &:checked {
    &::before {
      transition: all $animation-flow;
      background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
    }
    &::after {
      transform: translateX(113%);
    }
  }
}

.scroll-up-btn {
  cursor: pointer;

  position: sticky;
  bottom: 20px;
  left: 50%;
  width: 70px;
  height: 70px;

  border: none;
  border-radius: 50%;

  display: none;
  align-self: center;
  justify-content: center;
  align-items: center;

  transition: all $animation-flow;
  background-color: transparent;
  &:hover {
    transform: scale(1.2);
    filter: drop-shadow(
      1px 1px 2px rgba(0, 0, 0, 0.1),
      0px 2px 2px rgba(0, 0, 0, 0.1),
      1px 2px 4px rgba(0, 0, 0, 0.1)
    );
  }
}

.trash-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: $blue-accent-color;
  transition: all $animation-flow;

  & > .trash-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: $white-text-color;
    transition: all $animation-flow;
  }
  &:hover {
    background-color: $blue-accent-color;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    & .trash-icon {
      stroke: $main-text-color;
    }
  }
}
