.modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  background: rgb(79, 46, 232);
  background: linear-gradient(329deg, #4f2ee8 40%, #7e75e8 80%, #ccece7 100%);
  opacity: 1;
  z-index: 10000;
  display: grid;
  align-content: center;
}
.modal__backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal__backdrop.is-hidden .modal__block {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal__close-button {
  position: absolute;
  top: 14px;
  right: 14px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.modal__closeIcon {
  stroke: currentColor;
  &:hover {
    animation: rotate 2s linear infinite;
  }
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
      stroke: $blue-accent-color;
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @media screen and (min-width: $tablet) {
    width: 28px;
    height: 28px;
  }
}
.form-container {
  position: relative;
  width: 335px;
  margin: 0 auto;
  padding: 40px;
  border: 2px solid $main-text-color;
  border-radius: 18px;
  background-color: $white-text-color;
  @media screen and (min-width: $tablet) {
    width: 450px;
  }
  @media screen and (min-width: $desktop) {
    width: 579px;
  }
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  row-gap: 24px;
  @media screen and (min-width: $tablet) {
    row-gap: 28px;
  }
}

.form-label {
  position: relative;
  width: 100%;
}
.form-input {
  width: 100%;
  padding: 16px 45px 16px 24px;
  border: none;
  outline: 3px solid $main-text-color;
  border-radius: 40px;
  font-family: 'DMSans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.13;
  letter-spacing: -0.01em;
  transition: all 0.3s ease;
  position: relative;
  z-index: 1;
  &:focus + .modal__input-icon,
  &:hover + .modal__input-icon {
    transform: translateY(-5px);
  }
  &:hover,
  &:focus {
    box-shadow: 0 0 3px 2px #4f2ee8, 0 0px #4f2ee8, 0 0 12px 1px #4f2ee8;
    transform: translateY(-5px);
    z-index: 2;
    outline: none;
  }

  &::placeholder {
    color: $main-text-color;
    text-transform: uppercase;
  }
  &::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.3) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    opacity: 0;
    z-index: -1;
    transition: opacity 0.3s ease;
  }
  &:hover::before,
  &:focus::before {
    opacity: 1;
  }

  @media screen and (min-width: $tablet) {
    padding: 20px 60px 20px 40px;
    font-size: 18px;
  }
}

.form-label-name {
  margin-top: 6px;
  @media screen and (min-width: $tablet) {
    margin-top: 28px;
  }
}

.btn-signup {
  width: 100%;
  position: relative;
  padding: 16px;
  margin-bottom: 14px;
  background-color: $main-text-color;
  color: $white-text-color;
  border: none;
  border-radius: 40px;
  font-size: 16px;
  text-transform: uppercase;
  overflow: hidden;
  transition: all $animation-flow;
  cursor: pointer;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: $blue-accent-color, $alpha: 0.4);
    mix-blend-mode: screen;
    transform: translateX(-100%);
    transition: all 0.3s ease-in-out;
  }
  &:hover,
  &:focus {
    color: $white-text-color;
  }
  &:hover::before,
  &:focus::before {
    transform: translateX(0%);
  }

  @media screen and (min-width: $tablet) {
    padding: 20px;
    margin-top: 12px;
    margin-bottom: 16px;
  }
}
.btn-group {
  display: flex;
  justify-content: center;
}
.modal__btn {
  padding: 0;
  border: none;
  background-color: transparent;
  color: rgba(17, 17, 17, 0.5);
  font-family: 'DMSans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.13;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  cursor: pointer;
  &:hover,
  &:focus {
    color: $blue-accent-color;
    text-decoration-line: underline;
  }
  &:last-child {
    margin-left: 20px;
  }

  @media screen and (min-width: $tablet) {
    font-size: 18px;
  }
}

.modal__input-icon {
  position: absolute;
  z-index: 10;
  top: 16px;
  right: 20px;
  fill: $white-text-color;
  stroke: $main-text-color;
  transition: $animation-flow;
  @media screen and (min-width: $tablet) {
    width: 28px;
    height: 28px;
    right: 25px;
  }
  // fill: $main-text-color;   для тёмной темы
  // stroke: $white-text-color;
}
