.support-ukraine {
  width: 100%;
  max-height: 352px;
  padding-top: 24px;
  margin-bottom: 40px;
  background: radial-gradient(
    183.6% 183.01% at 59.76% -23.42%,
    $blue-accent-color 18.03%,
    $white-text-color 100%
  );
  box-shadow: 0px 10px 10px rgba(245, 245, 247, 0.1);
  border-radius: 16px;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    width: 335px;
    max-height: 472px;
  }

  @media screen and (min-width: $desktop) {
    width: 356px;
    max-height: 490px;
    margin-bottom: 0;
  }
}

.support-ukraine__title {
  margin-bottom: 40px;
  padding-left: 40px;
  padding-right: 58px;

  font-weight: 700;
  font-style: normal;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.04em;
  color: #ffffff;

  @media screen and (min-width: $desktop) {
    padding-right: 79px;
  }

  &hover,
  &focus {
    -webkit-text-stroke: 1px solid #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.logo-ukr {
  fill: currentColor;
}
.support-title-container {
  display: flex;
  align-items: center;
  gap: 12px;
}
.support-companies {
  max-height: 188px;
  padding-left: 40px;
  margin-bottom: 16px;

  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: $white-text-color;
  @media screen and (min-width: $tablet) {
    max-height: 292px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 40px;
  }
}

.company__item {
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 16px;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  transition: all $animation-flow;
  &:hover {
    transform: translate(10px);
  }
}

.company__img {
  height: 32px;
  object-fit: contain;
  max-width: 150px;
}

.support__load-more {
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;

  cursor: pointer;
  @media screen and (min-width: $tablet) {
    width: 38px;
    height: 38px;
  }

  &--top .button__icon {
    transform: rotate(-180deg);
  }
}

.button__icon {
  fill: $main-text-color;
  transition: transform $animation-flow;
}
