<!-- <li class="shopping-list__card">
  <div class="img-autor-container">
    <div class="image-container">
      <img
        src="https://storage.googleapis.com/du-prd/books/images/9781250144058.jpg"
        alt="book cover"
        class="shopping-list__image"
      />
      <h3 class="shopping-list__author">"Barbara O'Connor"</h3>
    </div>
    <div class="card-container">
      <h2 class="shopping-list__title-card">WISH</h2>
      <p class="shopping-list__sub-title">Middle Grade Paperback Monthly</p>
      <ul class="shopping-list__links">
        <li class="shopping-list__link-item">
          <a
            href="https://www.amazon.com/Wish-Barbara-OConnor/dp/1250144051?tag=NYTBSREV-20"
            class="shopping-list__link"
            target="blank"
          >
            <img
              class="buy-links__icon"
              src="./images/BookStoreIcons/amazon.png"
              width="48"
              alt="platform-icon"
              class="shopping-list__link-icon"
            />
          </a>
        </li>
        <li class="shopping-list__link-item">
          <a
            href="https://goto.applebooks.apple/9781250144058?at=10lIEQ"
            class="shopping-list__link"
            target="blank"
          >
            <img
              class="buy-links__icon"
              src="./images/BookStoreIcons/apple-books.png"
              width="28"
              alt="platform-icon"
              class="shopping-list__link-icon"
            />
          </a>
        </li>
        <li class="shopping-list__link-item">
          <a
            href="https://du-gae-books-dot-nyt-du-prd.appspot.com/redirect?url1=https%3A%2F%2Fbookshop.org%2Fa%2F3546%2F9781250144058&url2=https%3A%2F%2Fbookshop.org%2Fbooks%3Faffiliate%3D3546%26keywords%3DWISH"
            class="shopping-list__link"
            target="blank"
          >
            <img
              class="buy-links__icon"
              src="./images/BookStoreIcons/book-shop.png"
              width="32"
              alt="platform-icon"
              class="shopping-list__link-icon"
            />
          </a>
        </li>
      </ul>
    </div>
  </div>
  <p class="shopping-list__description">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo veritatis
    porro vero ea provident optio, quis, similique, tenetur esse perferendis
    recusandae eligendi itaque veniam excepturi.
  </p>
  <button class="btn">
    <svg class="trash-icon" width="16" height="16">
      <use href="./images/svg-sprite.svg#trash-icon"></use>
    </svg>
  </button>
</li> -->
