<div class="modal__backdrop is-hidden" data-modal>
  <div class="modal__block">
    <button type="button" class="modal__button" data-modal-close>
      <svg class="modal__closeIcon" width="28" height="28">
        <use href="./images/svg-sprite.svg#x-close-icon"></use>
      </svg>
    </button>
    <div class="form-container">
      <form action="#">
        <label for="name"></label>
        <input
          type="text"
          id="name"
          name="name"
          placeholder="name"
          class="form-input"
          required
        />
        <label for="email"></label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="email"
          class="form-input"
          required
        />
        <label for="password"></label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="password"
          class="form-input"
          required
        />
        <button type="submit" class="btn-signup">sign up</button>
      </form>
      <div class="btn-group">
        <button type="submit" class="modal__btn">sing up</button>
        <button type="submit" class="modal__btn">sing in</button>
      </div>
    </div>
  </div>
</div>
